################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0-android/ToDoApp.dll
/bin/Debug/net8.0-android/ToDoApp.pdb
/obj/Debug/net8.0-android/android/assets/ToDoApp.dll
/obj/Debug/net8.0-android/android/assets/ToDoApp.pdb
/obj/Debug/net8.0-android/ToDoApp.AssemblyInfo.cs
/obj/Debug/net8.0-android/ToDoApp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-android/ToDoApp.csproj.FileListAbsolute.txt
/obj/Debug/net8.0-android/ToDoApp.dll
/obj/Debug/net8.0-android/ToDoApp.pdb
/obj/Debug/net8.0-android/ToDoApp.sourcelink.json
/obj/Debug/net8.0-ios/iossimulator-x64/ToDoApp.AssemblyInfo.cs
/obj/Debug/net8.0-ios/iossimulator-x64/ToDoApp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ToDoApp.AssemblyInfo.cs
/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ToDoApp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ToDoApp.AssemblyInfo.cs
/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ToDoApp.AssemblyInfoInputs.cache
/ToDoApp.csproj.user
/bin/Debug/net8.0-android/com.companyname.todoapp-Signed.apk
/bin/Debug/net8.0-android/com.companyname.todoapp-Signed.apk.idsig
/bin/Debug/net8.0-android/com.companyname.todoapp.apk
/obj/Debug/net8.0-android/android/bin/classes.zip
/obj/Debug/net8.0-android/android/bin/com.companyname.todoapp.apk
/obj/Debug/net8.0-android/android/environment.arm64-v8a.ll
/obj/Debug/net8.0-android/android/environment.arm64-v8a.o
/obj/Debug/net8.0-android/app_shared_libraries/arm64-v8a/libxamarin-app.so
/obj/Debug/net8.0-android/buildid.txt
/obj/Debug/net8.0-android/ToDoApp.csproj.CoreCompileInputs.cache
